/* ------------ base -------------- */

html{
    position: relative;
    padding-bottom: 50px;
}

html, body{
    min-height:100%;
}

/* ----- nav -------- */

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: white;
    background-color: #e94144;
}

/* ----- end nav ---- */

.glyphicon{
    margin-right: 10px;
}

header{
    margin-top: 50px;
}

.logo{
    background: url('../img/logo.png');
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    float: left;
    background-size: 75%;
}

.titres{
    float: left;
}

.titre{
    font-weight: 400;
    color: #35393c;
    margin: 0;
}

.titre_1{
    color: #ee6f71;
}

.sous_titre{
    margin-top: 0;
}

.contain-n-creneau{
    clear: both;
}


/* --------------------------------- tableau ----------------------------- */

.table{
    margin-top: 30px;
    color:white;
    text-align: center;
}

th {
    color: white;
    text-align: center;
    font-weight:lighter;
    margin:auto;
}

.horaires{
    background-color: #35393c;
    vertical-align: middle !important;
    min-width: 80px;
    padding: 10px;
}

.jours{
    background-color: #35393c;

}

.vide{
    background-color: #ebebeb;
    color: #35393c;
}

.en_cours{
    background-color: #ee6f71;
}

.en_cours a{
    color: #35393c;
}

.remplie{
    background-color: #495e73;
}

.ligne{
    border: none;
}

/* ---------------------- index - grille des programmes ------------------------------ */

.grille_prog .en_cours, .grille_prog .vide{
    position: relative;
    height: 70px;
}

/*.grille_prog .en_cours p, .grille_prog .vide p{
    margin: auto;
    padding:0;
}*/

.grille_prog .en_cours a, .grille_prog .vide a{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.grille_prog .vide:hover{
    background-color: #D1D1D1;
}

.grille_prog .en_cours:hover{
    background-color: #e94144;
}


.boutons_semaines{
    clear: both;
}

.btn{
    border: none;
}

#semaine_suivante{
    float: right;
}

.boutons_centre{
    display: flex;
    margin-bottom: 40px;
}

.boutons_centre .centre {
    margin: auto;
}

.creneau_statut{
    width: 200px;
}

.cases_statut{
    display: flex;
    border: 1px solid #35393c;
    margin-bottom: 15px;
}

.cases_statut p{
    margin: auto;
}

.case_vide, .case_en_cours{
    height: 30px;
    width: 30px;
}

.case_vide{
    background-color: #ebebeb;
}

.case_en_cours{
    background-color: #ee6f71;
}

/* ---------------------- page creneau ------------------------------ */

/* ---------------------------------- footer ------------------------------------ */

footer{
    position: absolute;
    width:100%;
    height:50px;
    background-color: #35393c;
    color: white;
    text-align: center;
    display: flex;
    bottom:0;
}

footer p{
    margin:auto;
}

/*






!* ---------- grille --------- *!

.new-grille{
    margin-right: auto;
    margin-left: auto;
}

!* ---------- nouveau creneau --------- *!

.contain-n-creneau{
    display: flex;
    height: 80vh;
}

.contain-n-creneau h1{
    text-align: center;
}

.carre_base{
    width: 600px;
    text-align: center;
    margin: auto;
}

.formu{
    border-radius:5px;
    background-color: #FF9092;
    padding: 20px 30px;
}

!*.new-creneau input, select{
    width: 30%;
    height:35px;
    border-radius: 5px;
}*!

!*.new-creneau select.heures{
    width: 45%;
    height:35px;
    border-radius: 5px;
}*!

.new-creneau input[type="submit"]{
    border-style:none;
    border-color:none;
    background-color: #fff;
    width: 120px;
    height: 35px;
    border-radius:5px;
    margin-top: 10px;
}

!* ---------- show creneau (avec ses programmes) --------- *!

.show-cren-progr{
    margin: 0 auto;
}

#submit_grey{
    background-color: #232323;
    color: white;
}

!* ---------- Catégories --------- *!

.catego_tab{
    margin-right: auto;
    margin-left: auto;
}

.prog_catego_tab th{
    width: 200px;

}

.bb_tab td{
   border-bottom: 1px solid #cecece;

}*/
