{% extends "base.html.twig" %}

{% block title %}| Creneau{% endblock %}

{% block h2 %}
    Nouveau créneau
{% endblock %}

{% block container %}
    {{ parent() }}

    <div class="container contain-n-creneau">
        <div class="new-creneau carre_base">
            <div class="formu">
                {{ form_start(form) }}
                    {% form_theme (form) 'bootstrap_3_layout.html.twig' %}
                    {{ form_widget(form) }}
                    <input type="submit" value="Créer" />
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}
