{% extends "base.html.twig" %}

{% block title %}| Super admin{% endblock %}

{% block h2 %}
    Super admin
{% endblock %}

{% block container %}
    {{ parent() }}

    <div class="carre_base">
        {{ form_start(form) }}
        {% form_theme (form) 'bootstrap_3_layout.html.twig' %}
            {{ form_widget(form) }}
            <input class="marge_btn btn-default btn" type="submit" value="Ajouter" />
        {{ form_end(form) }}
    </div>


{% endblock %}
